.dashboard{
  background-color: white;
  border: 1px white solid;
  border-radius: 4px;
  display: inline-block;
  max-width: 960px;
  margin-top:50px;
  margin-bottom: 50px;
}

h3{
  background-color: white;
  font-size: 38px;
  height: 45px;
  text-align: center;
  margin-top: 5px;
  padding: 0px;
  margin-bottom:5px;
  display: inline-block;
}

.dash-userteams {
  background-color: gainsboro;
  display: inline-block;
  float: left;
  position: 0px;
}

.action-buttons{
  background-color:white;
  float: left;
  height: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dash-your-build {
  text-align: center;
  background-color: white;
  font-weight: bold;
  font-size: 30px;
  display: block;
  font-weight: bold;
  font-style: italic;
  padding: 10px;
  border: 1px gainsboro solid;
}

.dash-hero{
  background-color: gainsboro;
  border: 1px white solid;
  width: 120px;
  height: 350px;
  border-radius: 6px;
  padding: 2.5px;
  float: left;
}

.dash-hero-image{
  height: auto;
  background-color: white;
  width:110px;
}

.dash-hero-name{
  width: 115px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  margin: 0;
  margin-bottom: 10px;
}

.dash-hero-role{
  width: 115px;
  font-size: 16px;
  text-align: center;
  border-radius: 6px;
  margin: 0;
  margin-bottom: 10px;
}

.dash-hero-ult{
  width: 115px;
  font-size: 14px;
  text-align: center;
  border-radius: 6px;
  margin: 0;
  margin-bottom: 10px;
}

.dash-hero-role-label, .dash-hero-name-label, .dash-hero-ult-label {
  text-align: left;
  display: block;
  width: 115px;
  font-weight: bold;
}

.dash-stats-label{
  float:left;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  padding: 2.5px;
  border-radius: 4px;
  border: 1px gainsboro solid;
}

.dash-stats{
  text-align: left;
  float:left;
  font-size: 16px;
  font-weight: bold;
  border: 1px gainsboro solid;
}

.dash-stat{
  padding: 5px;
}

.dash-team{
  border: 1px gainsboro solid;
  background-color: white;
  border-radius: 4px;
  height: auto;
  text-align: center;
  margin-top:10px;
  margin-bottom: 10px;
  float:left;
  padding: 2.5px;
}

.dash-team-details{
  padding: 0px;
  float: left;
  height: auto;
}

.dash-team-roster{
  height: 350px;
  width: 730px;
  float: left;
  display:inline-block;
  text-align: center;
}

.dash-team-name{
  display: block;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  border: 1px gainsboro solid;
}

.dash-team-notes{
  display:inline-block;
  height: 150px;
  margin:0;
  padding: 10px;
  font-size: 14px;
  border: 1px gainsboro solid;
}

ul{
  background-color: white;
  padding: 0px;
}

li, p {
  background-color: white;
  list-style-type: none;
}
