.headerbar{
  background-color: #282c34;
  width: 100%;
  max-width: 960px;
  min-width: 300px;
  height: auto;
  border-radius: 4px;
  margin-bottom:10px;
}

.action-buttons{
  background-color:#282c34;
  display:inline-block;
  height:auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  max-width: 480;
  min-width: 300px;
}

.current-user{
  display: inline-block;
  width: 50%;
  max-width: 480;
  min-width: 300px;
}