.login{
  display: inline-block;
  background-color: #282c34;
  max-width: 600px;
  min-width: 300px;
  width: 100%;
  height: auto;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  border: 1px white solid;
  border-radius: 4px;
}

.loginform{
  background-color: #282c34; 
}

.loginUsername-input, .loginPassword-input{
  color: black;
  background-color: white;
  font-size: 20px;
  border-radius: 4px;
  margin: 5px;
  width: 200px;
}

.loginUsername-label, .loginPassword-label {
  background-color: #282c34;
  float: left;
  vertical-align: center;
  font-size: 25px;
  font-weight: bold;
  margin: 2.5px;
  width: 150px;
}

.login-username, .login-password {
  height: 60px;
  margin: 5px;
  vertical-align: center;
  font-size: 25px;
}

.login-error {
  background-color: red;
  border-color: white;
  font-weight: bold;
}
.login-logo{
  background-color: #282c34;
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  border: 1px white solid;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-buttons{
  margin: 2.5px;
}