.login{
  display: inline-block;
  background-color: white;
  width: 300px;
  height: 220px;
  margin: 50px;
  border: 1px white solid;
  border-radius: 4px;
}

.loginform{
  background-color: white; 
}

.loginUsername-input, .loginPassword-input{
  float: right;
  background-color: white; 
}

.loginUsername-label, .loginPassword-label {
  background-color: white;
  float: left;
  vertical-align: center;
}

.login-username, .login-password {
  width: 290px;
  height: 24px;
  margin: 5px;
  vertical-align: center;
}