.regForm {
  background-color: white;
  border: 1px white solid;
  border-radius: 4px;
  display: inline-block;
  width: 300px;
  margin: 50px;
}

h2{
  background-color: white;
}

.regForm .registration-header{
  display: inline-block;
  background-color: white;
  font-size: 28px;
  width: 298px;
  margin-bottom: 10px;
}

button {
  background-color: orange;
  border-radius: 6px;
  border: 1px grey solid;
  padding: 5px;
  margin: 5px;
}

.email-label, .username-label, .password-label  {
  float: left;
  font-weight: bold;
  margin: 2.5px;
  background-color: white;
  vertical-align: center;
}

.regEmail, .regUsername, .regPassword {
  float: right;
  background-color: white;
  border-radius: 4px;
  width: 170px;
}

.email, .username, .password {
  width: 290px;
  height: 24px;
  margin: 5px;
  vertical-align: center;
}

.registration-error{
  background-color: red;
  font-weight: bold;
}

.register-logo{
  padding: 5px;
  background-color: white;
  width: 298px;
  height: auto;
}