.regForm {
  background-color: #282c34;
  border: 1px orange solid;
  border-radius: 4px;
  display: inline-block;
  text-align:center;
  max-width: 960px;
  min-width: 300px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

h2{
  margin-top: 0;
  background-color: #282c34;
  font-size: 30px;
  height: 32px;
}

.regForm .registration-header{
  display: inline-block;
  background-color: #282c34;
  font-size: 28px;
  margin-bottom: 10px;
}

/*universal button NEEDS MOVING */
button {
  background-color: orange;
  border-radius: 6px;
  border: 1px grey solid;
  padding: 5px;
  margin: 5px;
}

.email-label, .username-label, .password-label  {
  font-weight: bold;
  float: left;
  margin: 2.5px;
  width: 121px;
  background-color: #282c34;
  vertical-align: center;
  text-align: left;
}

.regEmail, .regUsername, .regPassword {
  background-color: white;
  float: right;
  border-radius: 4px;
  margin: 5px;
  font-size: 20px;
}

.email, .username, .password {
  height:50px;
  vertical-align: center;
  padding: 5px;
  font-size: 25px;
  margin-bottom: 20px;
}

.registration-error{
  background-color: red;
  font-weight: bold;
}

.register-logo{
  padding: 5px;
  background-color: white;
  height: auto;
}