/* Component Template */

.team-build{
  background-color: #282c34;
  border: 2px orange solid;
  border-radius: 4px;
  display: inline-block;
  max-width:980px;
  min-width: 300px;
  width: 100%;  
  padding: 10px;
}

.build-introduction{
  width: 100%;
  max-width: 950px;
  min-width: 300px;
  background-color: #282c34;
  border: 1px orange solid;
  border-radius: 4px;
  margin: 5px;
}

.build-introduction-label{
  margin-top: 0;
  background-color: grey;
}

.build-description{
  background-color: #282c34;
  font-style: italic;
  padding: 5px;
  font-size: 20px;
}

/* Hero-Roster Template */

.hero-roster{
  display: inline-block;
  padding: 30px;
  max-width: 950px;
  min-width: 300px;
  height: 620px;
  width: 100%;
  background-color: #282c34;
  border: 1px white solid;
  overflow-y: scroll;
}

.roster-label{
  display: inline-block;
  width: 100%;
  max-width: 950px;
  min-width: 300px;
  margin:0;
  text-align:center;
  background-color: grey;
  border: 1px gainsboro solid;
  font-style: italic;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.hero {
  background-color: gainsboro;
  border: 1px white solid;
  width: 135px;
  height: 310px;
  margin: 5px;
  border-radius: 6px;
  padding: 5px;
  float: left;
}

.hero-name, .hero-role{
  margin-top:2.5px;
  width: 100%;
  margin-bottom:2.5px;
  font-size: 12px;
  border-radius: 6px;
  color: black;
}

.hero-name{
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}

.heroimage {
  background-color: #282c34;
  width: 120px;
  height: auto;
}


/* Current-Team Template */

.current-build {
  display: inline-block;
  background-color: #282c34;
  max-width: 940px;
  min-width: 300px;
  width: 100%;
  text-align: center;
  bottom:0px;
  border: 1px orange solid;
  border-radius: 4px;
}

.current-team-roster{
  width:640px;
  max-width: 640px;
  min-width: 300px;
  width: 100%;
  display: inline-block;
  height: auto;
  margin-left: 0;
  border: 1px gainsboro solid;
  padding: 5px;
  float:left;
}

.current-team{
  height: 240px;
  margin: 0px;
  background-color: #282c34;
}

.current-label{
  display: inline-block;
  width: 100%;
  max-width: 940px;
  min-width: 300px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
  font-style: italic;
  background-color: grey;
  border: 1px gainsboro solid;
}

.hero-current{
  background-color: gainsboro;
  border: 1px white solid;
  border-radius: 6px;
  padding: 2.5px;
  margin: 1.5px;
  font-size: 14px;
  width: 100px;
  height: 240px;
  float: left;
}

.hero-image-current{
  width: 80px;
  height: auto;
}

.hero-name-current{
  margin:0;
  width: 100%;
  border-radius: 6px;
  color: black;
}

.hero-role-current{
  font-size: 12px;
  width: 100%;
  height: 28px;
  margin:2.5px;
  margin-left: 0px;
  border-radius: 6px;
  text-align: center;
  color: black;
}
.stats{
  text-align: left;
  float: left;
  display: inline-block;
  font-size: 18px;
  width: 100%;
  max-width: 640px;
  min-width: 300px;
  padding:10px;
  border: 1px gainsboro solid;
  margin-top:0px;
  background-color: #282c34;
}

.stats, .stat{
  padding: 3px;
  background-color: #282c34;
}

.lists-buttons{
  display: inline-block;
  width: 280px;
  background-color: #282c34;
}

.abilities {
  display: inline-block;
  height: 200px;
  width: 100%;
  margin-top: 0px;
  padding-bottom: 15px;
  border: 1px gainsboro solid;
  border-radius: 4px;
  background-color: #282c34;
}

.abilities-list{
  margin-top: 5px;
  background-color: #282c34;
}

.ability{
  display: inline-block;
  font-size: 13px;
  width:120px;
  border: 1px gainsboro solid;
  background-color: #282c34;
}

.ultimates{
  bottom: none;
  margin-bottom: 0px;
  height: 160px;
  border: 1px gainsboro solid;
  border-radius: 4px;
  background-color: #282c34;
}

.ultimates, h4{
  margin-top: 0px;
  margin-bottom: 5px;
  background-color: #282c34;
}

.ult{
  background-color: #282c34;
  color: white;
}

.build-buttons{
  background-color: #282c34;
  border-radius: 4px;
}

/* User-Teams Template */
.userteams-build {
  background-color: #282c34;
  display: inline-block;
  max-width: 940px;
  min-width: 300px;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  text-align: center;
  border: 1px orange solid;
  border-radius: 4px;
}

.your-build {
  display: inline-block;
  background-color: grey;
  font-weight: bold;
  width: 100%;
  max-width: 940px;
  min-width: 300px;
  margin:0;
  font-size: 20px;
  font-style: italic;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.user-builds{
  background-color: #282c34;
}

.user-build {
  float: left;
  padding: 2.5px;
  background-color: #282c34;
}

.ults-label{
  background-color: grey;
}
.abilities-label{
  background-color: grey;
}

.bar-hero{
  background-color: #282c34;
  width: 40px;
  border-radius: 6px;
  padding: 1px;
  margin: 1px;
  float: left;
}

.bar-hero-image{
  background-color: white;
  height: auto;
  width: 35px;
  border: 1px gainsboro solid;
  border-radius: 4px;
}

.bar-team{
  display:inline-block;
  background-color: #282c34;
  border: 1px white solid;
  border-radius: 4px;
  height:90px;
  width:260px;
}

.bar-team-name{
  background-color: grey;
  font-weight: bold;
  font-style: italic;
  display: block;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.bar-team-roster{
  background-color: #282c34;
  width: 100%;
  height: auto;
  text-align: center;
}


/* Error */
.build-error{
  background-color:red;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Flip cards */
.current-flip-card {
  background-color: transparent;
  width: 120px;
  height: auto;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.current-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.current-flip-card:hover .current-flip-card-inner {
  transform: rotateY(180deg);
}

.current-flip-card-front, .current-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.current-flip-card-front {
  background-color: #bbb;
  color: black;
}

.current-flip-card-back {
  background-color: dodgerblue;
  color: black;
  transform: rotateY(180deg);
}

.current-flip-label{
  display: block;
  width: 100%;
  font-weight: bold;
  background-color: #282c34;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-left: 2px;
  padding-right: 2px;
}

.add-hero{
  position: relative;
  top: 250px;
}

.hero-ult-desc{
  margin-top:2.5px;
  width: 100%;
  text-align: left;
  margin-bottom:2.5px;
  font-size: 11px;
  border-radius: 6px;
  color: black;
}

