/* Component Template */

.team-build{
  background-color: white;
  border: 1px white solid;
  border-radius: 4px;
  display: inline-block;
  width:960px;
}

/* Hero-Roster Template */

.hero-roster{
  display: inline-block;
  width: 798px;
  background-color: white;
  border: 1px gainsboro solid;
}

.hero-roster, .roster-label{
  text-align:center;
}

.hero {
  background-color: white;
  width: 130px;
  height: 360px;
  border-radius: 6px;
  padding: 7px;
  float: left;
}

.hero-name, .hero-role{
  margin-top:2.5px;
  width: 120px;
  margin-bottom:2.5px;
  font-size: 12px;
}

.heroimage {
  background-color: white;
  width: 120px;
  height: auto;
}


/* Current-Team Template */

.current-build {
  display: inline-block;
  background-color: white;
  width: 800px;
  margin-left: 160px;
  text-align: center;
  bottom:0px;
  border: 1px gainsboro solid;
}

.current-team-roster{
  width:540px;
  display: inline-block;
  height: 250px;
  margin-left: 0;
  border: 1px gainsboro solid;
  padding: 10px;
  float:left;
}

.current-label{
  width: 798px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: italic;
  border: 1px gainsboro solid;
}

.hero-current{
  background-color: white;
  border-radius: 6px;
  padding: 2.5px;
  font-size: 14px;
  width: 80px;
  float: left;
}

.hero-current, .hero-image-current{
  width: 80px;
  height: auto;
}

.stats{
  text-align: left;
  float: left;
  display: inline-block;
  font-size: 18px;
  width: 540px;
  padding:10px;
  border: 1px gainsboro solid;
  clear:left;
  margin-top:0px;
}

.stats, .stat{
  padding: 3px;
}

.lists-buttons{
  display: inline-block;
  width: 250px;
  float: right;
}

.abilities {
  display: inline-block;
  height: 200px;
  width: 250px;
  margin-top: 0px;
  padding-bottom: 15px;
  border: 1px gainsboro solid;
}

.abilities-list{
  margin-top: 5px;
}

.ability{
  display: inline-block;
  font-size: 13px;
  width:120px;
  border: 1px gainsboro solid;
}

.ultimates{
  bottom: none;
  margin-bottom: 0px;
  height: 160px;
  border: 1px gainsboro solid;
}

.ultimates, h4{
  margin-top: 0px;
  margin-bottom: 5px;
  background-color: white;
}

/* User-Teams Template */
.userteams-build {
  background-color: white;
  display: inline-block;
  width: 160px;
  height: 100%;
  float: left;
}

.your-build {
  display: inline-block;
  background-color: white;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  width: 160px;
}

.bar-hero{
  background-color: white;
  width: 25px;
  border-radius: 6px;
  padding: 2.5px;
  float: left;
}

.bar-hero-image{
  background-color: white;
  height: auto;
  width: 25px;
  border: 1px gainsboro solid;
}

.bar-team{
  display:inline-block;
  background-color: white;
  border: 1px gainsboro solid;
  border-radius: 4px;
  height:75px;
  width:160px;
}

.bar-team-name{
  background-color: white;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 10px;
}

.bar-team-roster{
  width: 158px;
  height: 50px;
}


/* Error */
.build-error{
  background-color:red;
  margin-bottom: 5px;
  font-weight: bold;
}
